<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metaheres -->
      <package
            uri="http://www.bzh.ubo.pauline.metaheres"
            class="metaheres.MetaheresPackage"
            genModel="model/metaheres.genmodel"/>
   </extension>

</plugin>
